.contact_page {
  height: 91vh;
  background-color: var(--light-black);
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 3;
}
.contact_title h2 {
  margin: 20px 10px;
  font-size: xx-large;
}
.contact_title p {
  margin: 20px 10px;
}
.form {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.input,
.textarea {
  border: none;
  border-radius: 4px;
  padding: 8px;
}
.send_button {
  color: var(--black);
  background-color: var(--yellow);
  font-family: bold;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
}
.center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
@media screen and (min-width: 1024px) {
  .contact_page {
    width: 82vw;
    margin-left: 18vw;
    height: 100vh;
  }
  .send_button {
    cursor: pointer;
    padding: 5px 12px;
  }
  .input {
    padding: 10px;
  }
  .textarea {
    padding: 20px;
  }
}
