.contact_page {
  height: 91vh;
  background: radial-gradient(
    circle,
    rgba(177, 164, 69, 1) 0%,
    rgba(83, 79, 30, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 3;
}
.contact_card {
  background-color: var(--light-black);
  border-radius: 8px;
  padding: 8px;
  box-shadow: var(--light-black) 0px 50px 100px -20px,
    var(--light-black) 0px 30px 60px -30px;
}
.contact_title h2 {
  margin: 20px 10px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
.contact_title p {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}
.form {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.input,
.textarea {
  border: none;
  border-radius: 4px;
  padding: 8px;
}
.send_button {
  color: var(--black);
  background-color: var(--yellow);
  font-family: bold;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
}
.center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
@media screen and (min-width: 1024px) {
  .contact_page {
    width: 82vw;
    margin-left: 18vw;
    height: 100vh;
  }
  .contact_card {
    padding: 10px;
  }
  .send_button {
    cursor: pointer;
    padding: 5px 12px;
  }
  .input {
    padding: 10px;
  }
  .textarea {
    padding: 20px;
  }
}
